@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  
  --color-digitay-navy: #07101B;
  --color-digitay-green: #19A354;
}

body {
  background-color: var(--color-digitay-navy);
  color: #ffffff;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  background-attachment: fixed;
  min-height: 100vh;
}
